[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/brunxor/selected]
row=3
col=0

[/home/brunxor/hola.py]
row=5
col=0

[/home/brunxor/custom-linux]
row=6
col=0

[/home/brunxor/nvim-linux64.tar.gz]
row=4
col=0

[Papelera]
row=0
col=0

[/]
row=1
col=0

[/home/brunxor]
row=2
col=0

