[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/brunxor/custom-linux.2]
row=5
col=0

[/home/brunxor/bruno202403-pfsense2.ovpn]
row=3
col=0

[/home/brunxor/bruno20230316 (1).ovpn]
row=4
col=0

[/home/brunxor/custom-linux]
row=6
col=0

[Papelera]
row=0
col=0

[/]
row=1
col=0

[/home/brunxor]
row=2
col=0

